|Hello!
|Your friend #{inviter.username} (#{inviter.email}) just invited you to join Natuin!
|
|Your invitation code is #{invitationCode}
|
|Please use it to complete your registration at #{PUBLIC_URL}/account/accept-invite?code=#{invitationCode}
|
|Best regards,
|Natuin team
|
|This is an automated email, please do not reply to it.
|
